/* Login.css */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #dd94ff;
    border: 1px solid #090000;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    margin-top: 10vh; /* Vertically center align */
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #550b75;
    border-radius: 5px;
  }
  
  .button2 {
    background-color: #000000;
    color: rgb(0, 255, 38);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .button2:hover {
    background-color: #e33770;
  }
  
  a {
    text-decoration: none;
    color: #2f00ff;
    font-weight: bold;
    margin-top: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  