.signup-success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3c4ef3;
}

.signup-success-content {
    background-color: #dd55d1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.signup-success-content h1 {
    font-size: 36px;
    color: #de2626;
    margin-bottom: 20px;
}
  
.signup-success-content p {
    font-size: 18px;
    color: #e09021;
}
  